<!DOCTYPE html>
<html>
<head>
  <style media="screen" type="text/css">
    
  </style>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Fetch.1 Test Server</h1>
    <p>This is just a test server for the fetch.1 tests to consume.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://github.com/gato333/fetch.1.testServer"> Source on GitHub</a>
  </div>
</div>

</body>
</html>