<!DOCTYPE html>
<html>
<head>
  <style media="screen" type="text/css">
    .container {
      text-align: center;
      margin-top: 70px;
    }
    img {
      width: 200px;
    }
    .small-container {
      text-align: left;
      margin: 0 auto;
      max-width: 100%;
      width: 250px;
    }
  </style>
  <title>fetch.1 testServer</title>
  <link rel="shortcut icon" type="image/x-icon" href="https://gato333.github.io/public/favicon.ico" />
</head>

<body>

<div class="container">
    <img src="https://gato333.github.io/public/logo.jpg" />
    <h1>Fetch.1 Test Server</h1>
    <p>This is just a test server for the fetch.1 tests to consume.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://github.com/gato333/fetch.1.testServer"> Source on GitHub</a>
    <div class="small-container">
      <br>
      <p>/api</p>
      <p>will accept get, put and post requests that alther the request cookies</p>
    </div>
</div>

</body>
</html>