<!DOCTYPE html>
<html>
<head>
  <style media="screen" type="text/css">
    .container {
      text-align: center;
      margin-top: 100px;
    }
    img {
      width: 200px;
    }
  </style>
  <title>fetch.1 testServer</title>
  <link rel="shortcut icon" type="image/x-icon" href="https://gato333.github.io/public/favicon.ico" />
</head>

<body>

<div class="container">
    <img src="https://gato333.github.io/public/logo.jpg" />
    <h1>Fetch.1 Test Server</h1>
    <p>This is just a test server for the fetch.1 tests to consume.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://github.com/gato333/fetch.1.testServer"> Source on GitHub</a>
</div>

</body>
</html>